:root {
    --cor-primaria-padrao: #4CAF50;
    --cor-primaria-escura: #45a049;
    --cor-alerta-padrao: #b15656;
    --cor-alerta-escuro: #6b3737;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.logo-search {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    margin-right: 10px;
}

#searchInput {
    padding: 5px;
}

.menu a, .menu button {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    background: none;
    border: none;
    font-size: 16px;
}

.hamburger {
    display: none;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-grid > div {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-grid > div img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.product-grid > div h3, .product-grid > div p {
    padding: 10px;
}

.add-to-cart-btn {
    background-color: var(--cor-primaria-padrao);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.add-to-cart-btn:hover {
    background-color: #45a049;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
}

input[type="email"], input[type="password"], input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: var(--cor-primaria-padrao);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.add-card {
    margin: 0;
    border-radius: 0 0 4px 4px;
}

button.in-card {
    background-color: var(--cor-alerta-padrao);
}

button:hover {
    background-color: var(--cor-primaria-escura);
}

button.in-card:hover {
    background-color: var(--cor-alerta-escuro);
}

/* Estilos Específicos para o Carrinho e Checkout */
#cartItems div, #orderSummary div {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .menu a {
        display: none;
    }
}

/* Responsividade */
@media screen and (max-width: 768px) {
    header, main {
        padding: 10px;
    }
}
